* {
    box-sizing: border-box;
}



/* Mobile first approach 

/*  Styling Grid countainer */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 1fr;
    grid-template-areas:
    "header"
    "navigation"
    "main";
    }

    .main {
        grid-area: main;
     }

 /* Styling Header  */
    .header {
        grid-area: header;
        padding: 0px 5px;
        color: #fff;
        background-color: #78377a;
        font-family: 'Lato', sans-serif;
    } 

    .header-container{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        height: 100%;
        cursor: pointer;
        font-size: 13px;
        align-items: center;
    }
    a {
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        color: #78377a;
    }

    .dropbtn {
        position: relative;
        cursor: pointer;
        color: white;
        border-radius: 50%;
        background-color: red;
        padding: 5px 10px;
        right: 15px;
        top: -7px;
       
    }
    
    .dropbtn:hover, .dropbtn:focus {
        background-color: green;
      
    }

      .dropdown {
        position: relative;
        display: inline-block;
      }
      .dropdown-content {
        z-index: 100;
        padding: 1em;
        display: none;
        font-weight: 600;
        position: absolute;

      }

      .dropdown-content a {
          color: white;
          display: block;
          padding: 10px 15px;
          border-radius: 30%;
      }

      .dropdown:hover .dropdown-content {
        background: rgb(173, 106, 173);

        display: block;
       
      }
	

      .dropdown a:hover {
          background-color: turquoise;
         
      }

/* Styling Bell icon and profile image */
    .icon-bell {
       cursor: pointer;
       width: 30px;
       animation: ding 0.7s ease-out 0.2s forwards;
       animation-delay: 1s;
       animation-duration: 0.3s; 

    }

    .bell-icon-container {
        display: flex;
        padding-top: 10px;
      }

    .user-account {
        display: flex;
        align-items: center;
    }

    .profile-img {
        width: 30px;
        border-radius: 50%;
        margin-right: 15px;
    }
   
/* Styling side bare navigations and alert banner */
    .navigation {
        grid-area: navigation;
        display: flex;
        justify-content: space-evenly;
        background-color: blueviolet;
      
    }

    .nav-imgIcon {
        width: 50px;
        height: 50px;
        padding: 10px;
    }

    .alert-banner {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        background-color: rgb(133, 59, 202);
        color: #fff;
        margin: 10px;
        border-radius: 5px;
        font-family: 'Lato', sans-serif;
    }

  

    .alert-banner-close {
        cursor: pointer;
    }

/* Styling dashboard and seachbox */

    .main-header {
        display: flex;
        justify-content: space-between;
        border: none;
        }

    .headline {
        height: 70px;
        margin: 0;
        z-index: 10;
        padding: 20px 65px 20px 20px;
        color: #78377a;
        }
        
    .main-header-search {
        display: flex;
        justify-content: space-between;
        background: rgb(241, 232, 232);
        width: 100%;
        height: 50px;
        margin: 0;
        z-index: 10;
        padding: 5px;
            
        }

        
    .searchBar1 {
        margin: 5px 0 5px 150px;
        border: solid 1px rgb(19, 18, 18);
        border-radius: 5px;
        width: 75%;
        padding: 15px 10px;
        height: 50%;
        }

        /* Styling Alert */

        /* Styling Traffic Header and line Graph */
        
    .traffic-header {
        display: flex;
    }

    canvas {
            max-width: 100%;
    }

    .traffic-header h3,
    .daily h3,
    .mobile h3,
    .members h3,
    .message h3,
    .activity h3,
    .settings h3 {
        text-align: left;
        width: 100%;
        height: 60px;
        margin: 0;
        z-index: 10;
        padding: 20px;
        color: rgb(173, 106, 173);
        font-family: 'Lato', sans-serif;

    }

    .media-stats {
        padding: 10px 65px 0 20px;
        color: rgb(173, 106, 173);
        font-family: 'Lato', sans-serif;
    }

    .traffic-nav {
        display: flex;
        flex-direction: row;
        align-self: center;
        color: rgb(173, 106, 173);
        
        }

    .traffic-nav-link {
        transition: background-color .2s ease-in-out, color .2s ease-in-out;
        margin-right: 15px;
        margin-left: 15px;
        font-family: 'Lato', sans-serif;
        }

    .traffic-nav-link:hover {
        color: #fff;
        background-color: rgb(133, 59, 202);
        transition: background-color .2s ease-in-out, color .2s ease-in-out;
        cursor: pointer;
    }
        
    .widget-container-full {
        margin-top:15px;
        padding-top: 5px;
        height: 80%;
    }

    .daily,
    .mobile {
        border: solid 2px rgb(180, 173, 173); 
    }

     .daily,
     .mobile {
         margin-top: 15px;
         margin-bottom: 15px;
         padding-bottom: 10px;
     }

    
     .social-media {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding-bottom: 30px;
         padding-left: 10px;
         padding-right: 10px;
         gap: 25px;
         border-bottom: 1px solid rgb(27, 26, 26);
        
     }
    
     .social-container {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 130px;
         background-color:rgb(185, 197, 185);
         border-radius: 5px;
         border: solid 2px rgb(28, 151, 55); 
     }

    .twit-svg,
    .fb-svg,
    .go-svg {
        fill: purple;
        background-color: turquoise;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        transition: transform 1s;
        transform: rotate(360deg);
        cursor: pointer;
      
    }
       

   .social-image {
       padding-right: 10px;
       
   }

   .social-text {
       text-align: left;
       color: rgb(133, 59, 202)
       
   }

   .members,
   .activity {
       display: flex;
       flex-direction: column;
       
   }

   .members-container,
   .activity-container {
       display: flex;
       margin: 5px 10px;
       padding-bottom: 20px;
       gap: 15px;
       border-bottom: 1px solid rgb(27, 26, 26);
     }
    
    .activity-text {
        font-family: 'Lato', sans-serif;
    }

   .profile-image {
        width: 60px;
        border-radius: 50%;
        margin: 15px;
   }
   
   .members-container > p {
        text-align: right;
        flex-grow: 1;
    }
   

    form {
        width: 100%;
        padding: 0 1em;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgb(27, 26, 26);
    }

    .widjet-container {
        position: relative;
        display: inline-block;
    }

    input[type=text] {
        width: 100%;
        background-color: #e8eeef;
        border: none;
        border-radius: .10em;
        height:50px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Lato', sans-serif;
    }

    textarea {
        background-color: #e8eeef;
        border: none;
        border-radius: .10em;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Lato', sans-serif;
    }

    .button-primary,
    .button-disabled {
        background-color: rebeccapurple;
        color: #fff;
        border: none;
        height: 50px;
        width: 100%;
        border-radius: 0.10em;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .settings {
        display: flex;
        flex-direction: column;
        border: none;
        border-radius: .10em;
       
       
    }

    
    .setting-not {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        font-family: 'Lato', sans-serif;
    }

    .settings-button {
        display: flex;
        gap: 10px;
    }

    .form-field {
        background-color: #e8eeef;
        border: none;
        border-radius: .10em;
       
        
        margin-bottom: 7px;
        padding: 15px;
    }



    .switch {
        position: relative;
        display: inline-block;
        width: 80px;
        height: 34px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
       


      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }

     .fas-icon {
        text-align: right;
        flex-grow: 1;
        font-size: 40px;
        color: blueviolet;
     }

    
   @media (min-width: 768px) {
        .grid-container {
            height: 100%;
            grid-template-columns: 55px 1fr;
            grid-template-rows: max-content max-content;
            grid-template-areas:
            "header header"
            "navigation main";
        }



         .navigation {
            display: flex;
            justify-content: flex-start;
            height: 100%;
            flex-direction: column;
            gap: 30px;
        }

           
        
       .social-media {
            flex-direction: row;
            justify-content: space-evenly;
        } 

       
        
        
     }
    

    @media (min-width: 1024px) {
        .desktop-view {
            display: flex;
        
        }
        .desktop-view > section {
            flex-basis: 50%;
        }

        .setting-widjet {
            width: 50%;
            border-bottom: 1px solid rgb(27, 26, 26);
        }

        .settings {
            margin: 0;
        }

        .settings-button {
            padding: 0;
        }

    

        .setting-not {
            padding: 9px;
        }
    }

           
        
        
           