* {
    box-sizing: border-box;
}



/* Grid countainer styling */
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "navigation"
    "main";
    }

    /* Header styling */
    .header {
        padding: 0px 5px;
        grid-area: header;
        color: #fff;
        background-color: #78377a;
    } 

    .header-container{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        height: 100%;
        cursor: pointer;
        font-size: 13px;
    }
   

    /* Bell icon styling */
    .bell-icon-container {
    
       position: relative;
       cursor: pointer;
       width: 30px;
       padding-top: 10px;
      }

    .profile-image {
        width: 30px;
        border-radius: 50%;
    }

   

    .navigation {
    grid-area: navigation;
    }
    .main {
    
    grid-area: main;
    }
    
    
   /* @media (min-width: 768px) {
        .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
        "header header"
        "navigation main";
        }
        }
        
        .main {
            display: grid;
            }
            @media (min-width: 768px) {
            .main {
            grid-template-columns: 50% ;
            }
            }
       
            @media (min-width: 768px) {
                .traffic, .social {
                grid-column: 1 / span 2;
                }
                }
                @media (min-width: 768px) {
                    .daily, .members, .message {
                    grid-column: 1 / span 1;
                    }
                    }
                    @media (min-width: 768px) {
                        .mobile, .activity, .settings {
                        grid-column: 2 / span 1;
                        }
                        }


                        .widget-container-full, .widget-container-half {
                            width: 95vw;
                            }
                            @media (min-width: 768px) {
                            .widget-container-full {
                            width: 90vw;
                            }
                            .widget-container-half {
                        
                                width: 45vw;
                            }
                            } */
                            